aiobotocore @ file:///C:/b/abs_431uzunk2v/croot/aiobotocore_1738237882529/work
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiohttp-retry==2.9.1
aioitertools @ file:///tmp/build/80754af9/aioitertools_1607109665762/work
aiosignal==1.3.2
aiosqlite==0.21.0
alabaster @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/alabaster_1729041938345/work
altair==5.5.0
anaconda-anon-usage @ file:///C:/b/abs_1az9wuczyu/croot/anaconda-anon-usage_1749054795139/work
anaconda-auth @ file:///C:/b/abs_66s84uss7v/croot/anaconda-cloud-auth-split_1747863792543/work
anaconda-catalogs @ file:///C:/b/abs_ac59ma63va/croot/anaconda-catalogs_1747774731997/work
anaconda-cli-base @ file:///C:/b/abs_e4_l2p3q_7/croot/anaconda-cli-base_1741369468349/work
anaconda-client @ file:///C:/b/abs_0aa49y56xo/croot/anaconda-client_1743199592646/work
anaconda-navigator @ file:///C:/b/abs_5co9rfxmmi/croot/anaconda-navigator_1749741927270/work
anaconda-project @ file:///C:/b/abs_c3nd60wjs2/croot/anaconda-project_1746215311215/work
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
archspec @ file:///croot/archspec_1709217642129/work
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asgiref==3.10.0
astroid @ file:///C:/Users/dev-admin/buildout/croot/astroid_1739560229763/work
astropy @ file:///C:/b/abs_a6ryor8rkd/croot/astropy_1738094426721/work
astropy-iers-data @ file:///C:/b/abs_fact33de2d/croot/astropy-iers-data_1737137602781/work
asttokens==3.0.0
async-lru==2.0.5
asyncssh @ file:///C:/Users/dev-admin/buildout/croot/asyncssh_1739562824778/work
atomicwrites==1.4.0
attrs==25.3.0
Automat @ file:///C:/b/abs_e6j20ekmp5/croot/automat_1743532580167/work
autopep8 @ file:///croot/autopep8_1708962882016/work
babel==2.17.0
backoff==2.2.1
bcrypt==5.0.0
beautifulsoup4==4.14.2
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
black @ file:///C:/Users/dev-admin/buildout/croot/black_1739566841210/work
bleach==6.2.0
blinker==1.9.0
blockbuster==1.5.25
bokeh @ file:///C:/b/abs_f6bf75elu5/croot/bokeh_1737999174485/work
boltons @ file:///C:/b/abs_45_52ughkz/croot/boltons_1737061711836/work
botocore @ file:///C:/b/abs_1ctc2plazh/croot/botocore_1738226903582/work
Bottleneck @ file:///C:/b/abs_816hr2khp1/croot/bottleneck_1731058648110/work
Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
bs4==0.0.2
build==1.3.0
cachetools==5.5.2
certifi==2025.1.31
cffi==2.0.0
chardet @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/chardet_1729058437735/work
charset-normalizer==3.4.1
chroma-hnswlib==0.7.6
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
colorcet @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorcet_1729053366498/work
coloredlogs==15.0.1
comm==0.2.3
conda @ file:///C:/b/abs_78fae1xfc9/croot/conda_1749171262913/work/conda-src
conda-anaconda-telemetry @ file:///C:/b/abs_8fisg12wdf/croot/conda-anaconda-telemetry_1744662558247/work
conda-anaconda-tos @ file:///C:/b/abs_481v9q3ep5/croot/conda-anaconda-tos_1748537209861/work
conda-build @ file:///C:/b/abs_0cmukil0y7/croot/conda-build_1748438551883/work
conda-content-trust @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/conda-content-trust_1729088072778/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1745607008911/work/src
conda-pack @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/conda-pack_1729058654267/work
conda-package-handling @ file:///C:/b/abs_7fz3aferfv/croot/conda-package-handling_1731369038903/work
conda-repo-cli @ file:///C:/b/abs_89z5qypx6v/croot/conda-repo-cli_1742233951811/work
conda-token @ file:///croot/conda-token_1741722942912/work
conda_index @ file:///C:/b/abs_35iguetbq8/croot/conda-index_1747936869808/work
conda_package_streaming @ file:///C:/b/abs_bdz9vbvbh2/croot/conda-package-streaming_1731366449946/work
constantly @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/constantly_1729053406505/work
contourpy @ file:///C:/b/abs_f2u2o_8s9g/croot/contourpy_1732540071787/work
cookiecutter @ file:///opt/conda/conda-bld/cookiecutter_1649151442564/work
cryptography==44.0.3
cssselect @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/cssselect_1729047831562/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cytoolz @ file:///C:/b/abs_9fo7kaynab/croot/cytoolz_1736803775290/work
dask @ file:///C:/b/abs_b819ma5s3z/croot/dask-core_1741970207786/work
dask-expr @ file:///C:/b/abs_a3l2uwpvbn/croot/dask-expr_1742226151168/work
dataclasses-json==0.6.7
datashader @ file:///C:/b/abs_7fi1hwtnu7/croot/datashader_1744385576590/work
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
Deprecated @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/deprecated_1729047945568/work
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/dill_1729047982235/work
distlib==0.3.9
distributed @ file:///C:/b/abs_42ljkiheum/croot/distributed_1741988119116/work
distro==1.9.0
dnspython==2.8.0
docstring-to-markdown @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/docstring-to-markdown_1729053922477/work
docutils @ file:///C:/b/abs_8d42id67ov/croot/docutils_1744664123685/work
durationpy==0.10
dydantic==0.0.8
email-validator==2.3.0
emoji==2.15.0
et_xmlfile @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/et_xmlfile_1729053960370/work
evalidate @ file:///C:/b/abs_573nc1ymt6/croot/evalidate_1743606028415/work
executing==2.2.1
fastapi==0.115.12
fastjsonschema==2.21.2
filelock==3.18.0
filetype==1.2.0
flake8 @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/flake8_1729054074515/work
Flask==3.1.1
flatbuffers==25.9.23
fonttools @ file:///C:/b/abs_4crkswws2h/croot/fonttools_1737040078745/work
forbiddenfruit==0.1.4
fqdn==1.5.1
frozendict @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/frozendict_1729090952168/work
frozenlist==1.5.0
fsspec==2025.9.0
gitdb==4.0.12
GitPython==3.1.44
gmpy2 @ file:///C:/b/abs_d8ki0o0h97/croot/gmpy2_1738085498525/work
google-auth==2.41.1
googleapis-common-protos==1.71.0
greenlet==3.1.1
grpcio==1.75.1
h11==0.16.0
h5py @ file:///C:/Users/dev-admin/buildout/croot/h5py_1739563828046/work
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
holoviews @ file:///C:/b/abs_9bbkzym0jb/croot/holoviews_1741882167503/work
html5lib==1.1
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.35.3
humanfriendly==10.0
hvplot @ file:///C:/b/abs_3ack78yhuc/croot/hvplot_1746471225135/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna==3.10
imageio @ file:///C:/b/abs_4cup9zfkvm/croot/imageio_1738160462075/work
imagesize @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/imagesize_1729042613392/work
imbalanced-learn @ file:///C:/b/abs_e61qnz168l/croot/imbalanced-learn_1738614381129/work
importlib_metadata==8.7.0
importlib_resources==6.5.2
incremental @ file:///croot/incremental_1743512672142/work
inflection @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/inflection_1729054658204/work
iniconfig==2.1.0
intake @ file:///C:/Users/dev-admin/buildout/perseverance-python-buildout/croot/intake_1731720911628/work
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel==7.0.1
ipython==9.6.0
ipython_pygments_lexers==1.1.1
ipywidgets @ file:///C:/Users/dev-admin/buildout/croot/ipywidgets_1739561466014/work
isoduration==20.11.0
isort @ file:///C:/b/abs_7es817tui1/croot/isort_1741285183905/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///C:/b/abs_f35dqz89dk/croot/itemloaders_1743513855167/work
itsdangerous==2.2.0
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jaraco.context @ file:///C:/Users/dev-admin/buildout/perseverance-python-buildout/croot/jaraco.context_1731721000658/work
jaraco.functools @ file:///C:/b/abs_a1jv6v_pzp/croot/jaraco.functools_1740408129620/work
jedi==0.19.2
jellyfish @ file:///C:/b/abs_c5ua9cti7n/croot/jellyfish_1736367467867/work
Jinja2==3.1.6
jinja2-time @ file:///opt/conda/conda-bld/jinja2-time_1649251842261/work
jiter==0.9.0
jmespath @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/jmespath_1729040936778/work
joblib==1.5.2
json5==0.12.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jsonschema_rs==0.29.1
jupyter @ file:///C:/Users/dev-admin/buildout/croot/jupyter_1742594998199/work
jupyter-console @ file:///C:/Users/dev-admin/buildout/croot/jupyter_console_1739561496258/work
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets @ file:///C:/Users/dev-admin/buildout/croot/jupyterlab_widgets_1739560423822/work
keyring @ file:///C:/b/abs_596d81ux2c/croot/keyring_1745484709696/work
kiwisolver @ file:///C:/b/abs_faf90xet7a/croot/kiwisolver_1737040915779/work
kubernetes==34.1.0
langchain-pinecone==0.2.8
langchain-tests==0.3.21
langdetect==1.0.9
langgraph-api==0.2.102
langgraph-checkpoint==2.1.2
langgraph-checkpoint-sqlite==2.0.11
langgraph-cli==0.3.6
langgraph-runtime-inmem==0.6.13
langgraph-sdk==0.2.9
lazy_loader @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/lazy_loader_1729054947204/work
lckr_jupyterlab_variableinspector @ file:///C:/b/abs_a7k1hndm37/croot/jupyterlab-variableinspector_1744638305846/work
libarchive-c @ file:///croot/python-libarchive-c_1726069797193/work
libmambapy @ file:///C:/b/abs_627vsv8bhu/croot/mamba-split_1734469608328/work/libmambapy
lief @ file:///C:/b/abs_09r5ljk_b3/croot/lief_1746658729608/work/api/python
linkify-it-py @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/linkify-it-py_1729048789558/work
llvmlite @ file:///C:/b/abs_da51wefv9a/croot/llvmlite_1741209883316/work
lmdb @ file:///C:/b/abs_2decx3xz4y/croot/python-lmdb_1736541366547/work
locket @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/locket_1729042822914/work
lxml==6.0.2
lz4 @ file:///C:/b/abs_8ep7mb2x8a/croot/lz4_1736369996037/work
Markdown @ file:///C:/b/abs_f9hbi7znfr/croot/markdown_1746114643651/work
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mdit-py-plugins_1729048896699/work
mdurl==0.1.2
-e git+https://github.com/TausifM/Medical-Chatbot-LLM-LangChain-Pinecone-Flask-AWS.git@b4dea91cb7486f436b18eea7024682aaf9ff61d9#egg=medical_chatbor
menuinst @ file:///C:/b/abs_fblttj5gp1/croot/menuinst_1738943438301/work
mistune==3.1.4
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730824198951/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730824302834/work
mmh3==5.2.0
more-itertools @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/more-itertools_1729041136717/work
motor==3.7.1
mpmath==1.3.0
msgpack @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/msgpack-python_1729048979472/work
multidict==6.2.0
multipledispatch @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/multipledispatch_1729042961798/work
mypy @ file:///C:/b/abs_6epbyye_k3/croot/mypy-split_1736792006114/work
mypy-extensions==1.0.0
narwhals==1.32.0
navigator-updater @ file:///C:/b/abs_75jnsxvk0b/croot/navigator-updater_1744666454242/work
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
nltk==3.9.2
notebook==7.4.7
notebook_shim==0.2.4
numba @ file:///C:/b/abs_f42h_j9bwg/croot/numba_1740668206517/work
numexpr @ file:///C:/Users/dev-admin/buildout/perseverance-python-buildout/croot/numexpr_1731700337214/work
numpy @ file:///C:/b/abs_25aj347ekn/croot/numpy_and_numpy_base_1730835595898/work/dist/numpy-2.1.3-cp313-cp313-win_amd64.whl#sha256=17b3f31ca0015b3dd2f7d7078af5b282907dcd54522d8ba9dbb868e6a654f320
numpydoc @ file:///C:/Users/dev-admin/buildout/croot/numpydoc_1732930470179/work
oauthlib==3.3.1
olefile==0.47
onnxruntime==1.23.1
openai==1.109.1
openpyxl @ file:///C:/b/abs_6cdczthntz/croot/openpyxl_1736371239628/work
opentelemetry-api==1.38.0
opentelemetry-exporter-otlp-proto-common==1.38.0
opentelemetry-exporter-otlp-proto-grpc==1.38.0
opentelemetry-instrumentation==0.59b0
opentelemetry-instrumentation-asgi==0.59b0
opentelemetry-instrumentation-fastapi==0.59b0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
opentelemetry-util-http==0.59b0
orjson==3.10.16
ormsgpack==1.11.0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
panel @ file:///C:/b/abs_94csf26rqz/croot/panel_1747424488019/work
param @ file:///C:/Users/dev-admin/buildout/croot/param_1739560661012/work
parsel @ file:///C:/Users/dev-admin/buildout/croot/parsel_1732922877478/work
parso==0.8.5
partd @ file:///C:/b/abs_e1k4ow1dv4/croot/partd_1736803443606/work
pathspec @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pathspec_1729036384737/work
patsy @ file:///C:/b/abs_f9h0eiedk0/croot/patsy_1738159949276/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==11.1.0
pinecone==7.3.0
pinecone-plugin-assistant==1.8.0
pinecone-plugin-interface==0.0.7
pipenv==2024.4.1
pkce @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pkce_1729049216383/work
pkginfo @ file:///C:/b/abs_79p91g_cie/croot/pkginfo_1743184772345/work
platformdirs==4.3.7
plotly @ file:///C:/b/abs_28qon8a90a/croot/plotly_1740385581534/work
pluggy==1.6.0
ply @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/ply_1729041337918/work
poyo @ file:///tmp/build/80754af9/poyo_1617751526755/work
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.3.0
Protego @ file:///C:/b/abs_48sti5uql_/croot/protego_1746479771804/work
protobuf==5.29.4
psutil==7.1.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pycodestyle_1729051264017/work
pycosat @ file:///C:/b/abs_18nblzzn70/croot/pycosat_1736868434419/work
pycparser==2.23
pyct @ file:///C:/Users/dev-admin/buildout/perseverance-python-buildout/croot/pyct_1731730439568/work
pycurl @ file:///C:/b/abs_60b5cviggn/croot/pycurl_1744743621149/work
pydantic==2.12.3
pydantic-settings @ file:///C:/Users/dev-admin/buildout/croot/pydantic-settings_1735846821890/work
pydantic_core==2.41.4
pydeck==0.9.1
PyDispatcher @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pydispatcher_1729062105269/work
pydocstyle @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pydocstyle_1729055775306/work
pyerfa @ file:///C:/b/abs_35x4fn08_4/croot/pyerfa_1738083087918/work
pyflakes @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pyflakes_1729051360949/work
PyGithub @ file:///C:/Users/dev-admin/buildout/perseverance-python-buildout/croot/pygithub_1731745080304/work
Pygments==2.19.2
PyJWT==2.10.1
pylint @ file:///C:/b/abs_52tcgdpqsk/croot/pylint_1743709218105/work
pylint-venv @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pylint-venv_1729062196487/work
pyls-spyder==0.4.0
pymongo==4.15.4
PyNaCl @ file:///C:/b/abs_b9cyxk0xhf/croot/pynacl_1736542112237/work
pyodbc @ file:///C:/b/abs_908vw1e38j/croot/pyodbc_1737479651089/work
pyOpenSSL @ file:///C:/b/abs_6cmmt1gx_z/croot/pyopenssl_1741343840223/work
pyparsing @ file:///C:/Users/dev-admin/buildout/croot/pyparsing_1735861809022/work
pypdf==4.3.1
PyPika==0.48.9
pyproject-toml==0.0.10
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQt5_sip @ file:///C:/b/abs_d1i1jr9fgt/croot/pyqt-split_1736540551157/work/pyqt_sip
PyQtWebEngine==5.15.6
pyreadline3==3.5.4
PySocks @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pysocks_1729039320841/work
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-benchmark==5.1.0
pytest-codspeed==4.0.0
pytest-recording==0.13.4
pytest-socket==0.7.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-iso639==2025.2.18
python-json-logger==4.0.0
python-lsp-black @ file:///C:/b/abs_56xq_70uqy/croot/python-lsp-black_1744023225294/work
python-lsp-jsonrpc @ file:///croot/python-lsp-jsonrpc_1708962872556/work
python-lsp-server @ file:///C:/b/abs_dd5ho9pgae/croot/python-lsp-server_1743715808372/work
python-magic==0.4.27
python-oxmsg==0.0.2
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
pytoolconfig @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pytoolconfig_1729051670797/work
pytz==2025.2
pyuca @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pyuca_1729099690749/work
pyviz_comms @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pyviz_comms_1729051705359/work
PyWavelets @ file:///C:/b/abs_a8rls0q_ez/croot/pywavelets_1737133696904/work
pywin32==308
pywin32-ctypes @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pywin32-ctypes_1729046491215/work
pywinpty==3.0.2
PyYAML==6.0.2
pyzmq==27.1.0
QDarkStyle @ file:///croot/qdarkstyle_1709231003551/work
qstylizer @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/qstylizer_1729063143005/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl#sha256=9e6ed4af5d7d32c75075c807064c85e792b62db8b603152b16608d504e3ed165
QtAwesome @ file:///C:/b/abs_f3usq20nxv/croot/qtawesome_1744810809443/work
qtconsole @ file:///C:/b/abs_077eiqc5gw/croot/qtconsole_1744633984381/work
QtPy @ file:///C:/Users/dev-admin/buildout/perseverance-python-buildout/croot/qtpy_1731712232653/work
queuelib @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/queuelib_1729063235364/work
RapidFuzz==3.14.1
readchar @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/readchar_1729051800756/work
referencing==0.36.2
regex==2024.11.6
requests @ file:///C:/b/abs_c3508vg8ez/croot/requests_1731000584867/work
requests-file @ file:///C:/b/abs_804owi11qo/croot/requests-file_1749719355197/work
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.1.0
roman-numerals-py @ file:///C:/b/abs_c6xpj9atdr/croot/roman-numerals-py_1744666293821/work
rope @ file:///C:/b/abs_2232rxaz98/croot/rope_1743709233829/work
rpds-py==0.23.1
rsa==4.9.1
Rtree @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rtree_1729056439058/work
ruamel.yaml @ file:///C:/b/abs_0dn1nhdq75/croot/ruamel.yaml_1745960327187/work
ruamel.yaml.clib @ file:///C:/b/abs_475flulhy_/croot/ruamel.yaml.clib_1745937166245/work
ruamel_yaml_conda @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/ruamel_yaml_1729063591675/work
s3fs @ file:///C:/b/abs_130adxrjmm/croot/s3fs_1747146760526/work
safetensors==0.6.2
scikit-image @ file:///C:/b/abs_081xgoymhl/croot/scikit-image_1737473383970/work
scikit-learn==1.7.2
scipy==1.16.2
Scrapy @ file:///C:/b/abs_7d5vqiajdd/croot/scrapy_1743540914951/work
seaborn @ file:///C:/b/abs_0bv5x0ucxb/croot/seaborn_1749110315600/work
semver @ file:///C:/b/abs_6bgol0at6h/croot/semver_1736542515243/work
Send2Trash==1.8.3
sentence-transformers==4.1.0
service-identity @ file:///C:/b/abs_2bq9_6ah3e/croot/service_identity_1749714991616/work
setuptools==78.0.2
shellingham==1.5.4
sip @ file:///C:/b/abs_b6twfwtueg/croot/sip_1736544693649/work
six==1.17.0
sklearn-compat @ file:///C:/b/abs_2495oc29im/croot/sklearn-compat_1738003941903/work
smmap==5.0.2
sniffio==1.3.1
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve==2.8
Sphinx @ file:///C:/b/abs_38umzzph7f/croot/sphinx_1744737150958/work
sphinxcontrib-applehelp @ file:///croot/sphinxcontrib-applehelp_1744721330488/work
sphinxcontrib-devhelp @ file:///croot/sphinxcontrib-devhelp_1744727995579/work
sphinxcontrib-htmlhelp @ file:///croot/sphinxcontrib-htmlhelp_1744718370019/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///croot/sphinxcontrib-qthelp_1744721051257/work
sphinxcontrib-serializinghtml @ file:///croot/sphinxcontrib-serializinghtml_1744724097162/work
spyder @ file:///C:/b/abs_9drsv2xoqd/croot/spyder_1749741990659/work
spyder-kernels @ file:///C:/b/abs_0a8wbrmvxw/croot/spyder-kernels_1748642523170/work
SQLAlchemy==2.0.39
sqlite-vec==0.1.6
sse-starlette==2.1.3
stack-data==0.6.3
starlette==0.46.1
statsmodels @ file:///C:/b/abs_c797jbabmm/croot/statsmodels_1734018887218/work
streamlit==1.43.2
structlog==25.4.0
superqt @ file:///C:/b/abs_11kt812ym3/croot/superqt_1743709210824/work
sympy==1.14.0
syrupy==4.9.1
tables @ file:///C:/b/abs_e0h8gc4hz7/croot/pytables_1748452085563/work
tabulate @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/tabulate_1729056893645/work
tavily-python==0.7.12
tblib @ file:///C:/b/abs_a4ikhoig03/croot/tblib_1749739473644/work
tenacity==8.5.0
terminado==0.18.1
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///C:/Users/dev-admin/buildout/croot/textdistance_1735863571591/work
threadpoolctl==3.6.0
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///C:/b/abs_8aikas7x_4/croot/tifffile_1741164551582/work
tiktoken==0.9.0
tinycss2==1.4.0
tldextract @ file:///C:/Users/dev-admin/buildout/perseverance-python-buildout/croot/tldextract_1731748362836/work
toml==0.10.2
tomli @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/tomli_1729047129961/work
tomlkit @ file:///C:/Users/dev-admin/buildout/perseverance-python-buildout/croot/tomlkit_1731700037073/work
toolz @ file:///C:/b/abs_57avamxh36/croot/toolz_1736796279321/work
torch==2.8.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trustcall==0.0.39
truststore==0.10.4
Twisted @ file:///C:/b/abs_65oatfcpaw/croot/twisted_1743537791862/work
twisted-iocpsupport @ file:///C:/b/abs_6883jqhfrn/croot/twisted-iocpsupport_1736544552637/work
typer==0.20.0
types-python-dateutil==2.9.0.20251008
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uc-micro-py @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/uc-micro-py_1729047163092/work
ujson @ file:///C:/b/abs_e5a_v6aejl/croot/ujson_1736543954444/work
Unidecode @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/unidecode_1729103602327/work
unstructured==0.18.14
unstructured-client==0.42.3
uri-template==1.3.0
urllib3==2.3.0
uvicorn==0.34.0
vcrpy==7.0.0
virtualenv==20.29.3
w3lib @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/w3lib_1729052333042/work
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.14
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
whatthepatch @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/whatthepatch_1729057332458/work
wheel==0.45.1
widgetsnbextension @ file:///C:/Users/dev-admin/buildout/croot/widgetsnbextension_1735847225457/work
wikipedia==1.4.0
win_inet_pton @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/win_inet_pton_1729038644686/work
wrapt==1.17.3
xarray @ file:///C:/b/abs_11s3bnmez3/croot/xarray_1749192866207/work
xlwings @ file:///C:/b/abs_e58r82ek19/croot/xlwings_1743513451045/work
xxhash==3.5.0
xyzservices @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/xyzservices_1729047258632/work
yapf @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/yapf_1729057456500/work
yarl==1.18.3
zict @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/zict_1729052457267/work
zipp==3.23.0
zope.interface @ file:///C:/Users/dev-admin/buildout/croot/zope.interface_1735850995906/work
zstandard==0.23.0
